<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="text-align: center;">Formadora</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center;">Formadora</ion-card-title>
    </ion-card-header>
  </ion-card>

  <div style="display: flex; flex-direction: column; align-items: center; margin-top: 16px;">
    <p><strong>Luan Azevedo de Oliveira</strong></p>
    <img src="assets/foto.jpeg" style="border-radius: 10px; height: 400px;" />
  </div>


  <ion-card-content style="text-align: center;">
    <p>Código da Turma</p>
    <p>ADS0301M</p>
  </ion-card-content>
</ion-content>
